
    <div class="panel grid col-2">
      <div class="picture">
        <img src="<%= user.photo %>">
      </div>
      <div class="info">
      <h2><%= user.id %> <%= user.name %> </h2>
      <div class='text-end'>
       <b class="p">Number of posts: <%= user.posts.length %> </b>
      </div>
      </div>
    </div>