<section>
<% if flash[:error] %>
<div><%= flash[:error] %></div>
<% end %>
  <%= render partial: 'shared/user_display', locals: {user: @user} %>
  <div class="posts">
    <%= render @posts %>
  </div>
  <button>Pagination</button>
</section>